@import url("style.css");

#navbar li a {
  font-size: 0.9em;
}

#breadcrumb #logout {
  float: right;
  /* vertical-align: top; */
  padding-right: 1em;
  color: #f4d03f;
}

#breadcrumb #toSite {
  float: right;
  /* vertical-align: top; */
  padding-right: 1em;
  color: #f4d03f;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.grains #description,
.reservations #description,
.clients #description,
.services #description,
.admins #description {
  padding-left: 2em;
}

.reservations #subtitle {
  padding-left: 1.4em;
}

.grains #description h1,
.reservations #description h1,
.clients #description h1,
.services #description h1,
.admins #description h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.grain-section h1 {
  font-size: 2.5em;
  float: left;
  padding-left: 0em;
}

.grain-section h2 {
  padding-bottom: 0.5em;
}

.grain-section h4 {
  padding-bottom: 0.5em;
}

.grain-section p {
  float: left;
  padding-left: 0em;
  padding-bottom: 0.5em;
}

.grain-section form {
  padding-bottom: 1em;
}

.add-grain,
.add-machine,
.add-reservation,
.add-client,
.add-admin {
  padding: 0.5em;
  padding-left: 2em;
}

.add-grain h1,
.add-machine h1,
.add-reservation h1,
.add-client h1,
.add-admin h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.add-client form ul,
.add-grain form ul,
.add-machine form ul,
.add-reservation fieldset ul {
  list-style: none;
}

.grain-section #client form label,
.add-client label,
.add-grain label,
.add-machine label,
.add-reservation label {
  width: 100%;
  float: left;
}

.grain-section #client form label {
  width: 100%;
  float: left;
  padding-bottom: 0.2em;
}

.add-client li,
.add-grain li,
.add-machine li,
.add-reservation li {
  padding-bottom: 1em;
}

.add-reservation select {
  border: 0.1px solid #0000005e;
}

.add-client fieldset,
.add-reservation fieldset,
.add-admin fieldset {
  border: none;
}

.add-admin fieldset {
  padding-bottom: 2em;
}

.add-reservation form {
  padding-bottom: 1em;
  padding-top: 1em;
}

.add-client fieldset legend,
.add-reservation fieldset legend {
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.add-admin fieldset legend {
  padding-top: 0em;
  padding-bottom: 1em;
}

.add-reservation p {
  padding-top: 0.5em;
  padding-bottom: 2em;
}

.add-reservation fieldset {
  padding-top: 0.5em;
}

.admins .listAndDelete {
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 3em;
}

.admins .listAndDelete li {
  padding-top: 2em;
}

#fileToUpload {
  padding-top: 0.5em;
}

.button {
  padding: 0.3em;
}

#submit {
  cursor: pointer;
}

#no-admin {
  padding-left: 2em;
  padding-top: 2em;
}

.add-grain #submit,
.add-machine #submit,
.add-reservation #submit {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

#go-to-menu {
  display: none;
}
