@import url("style.css");

#navbar li a {
  font-size: 0.9em;
}

#breadcrumb #logout {
  float: right;
  /* vertical-align: top; */
  padding-right: 1em;
  color: #f4d03f;
}

#breadcrumb #toSite {
  float: right;
  /* vertical-align: top; */
  padding-right: 1em;
  color: #f4d03f;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
