@import url("style.css");

#navbar {
  display: none;
}

.dropdown {
  display: inline;
}

.top-img {
  display: none;
}

.left-section h1,
.right-section h1,
.center-section h1,
.grain-section h1,
.service-section h1 {
  width: 100%;
  float: left;
  text-align: left;
  padding-left: 0em;
}

.left-section p,
.right-section p,
.center-section p,
.grain-section p,
.service-section p {
  width: 100%;
  float: left;
  padding-left: 0em;
}

.left-section img,
.right-section img,
.grain-section img,
.service-section img {
  width: 100%;
  float: left;
  padding-left: 0em;
}

.grain-section .text-subsection,
.service-section .text-subsection {
  width: 100%;
  padding: 0em;
  float: left;
}
