@import url("style.css");

#navbar {
  display: none;
}

.dropdown {
  display: inline;
}

.left-section h1,
.right-section h1,
.left-section p,
.right-section p {
  width: 100%;
}

.left-section img,
.right-section img,
.grain-section img,
.service-section img {
  width: 100%;
  padding: 1em;
}

.center-section {
  padding-left: 0em;
  margin-right: 0em;
  width: auto;
}

.grain-section .text-subsection,
.service-section .text-subsection {
  width: 100%;
  padding: 1em;
}

.grain-section h1,
.service-section h1 {
  text-align: center;
  width: 100%;
  padding: 0;
}

.grain-section p,
.service-section p {
  width: 100%;
  text-align: justify;
  width: auto;
  padding: 0;
}
