* {
  margin: 0em;
  padding: 0;
}

html,
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  max-width: 1024px;
  margin-top: 0.1em;
  margin: auto;
  background-color: white;
}

html {
  background-color: rgba(253, 238, 177, 0.8);
}

/* -----MANAGE HEADER ELEMENTS----- */

#go-to-content {
  float: right;
  padding-right: 1em;
  color: #f4d03f;
}

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-width: 1024px;
  background-color: #3c2109;
  opacity: 0.97;
  /* background-image: url('../img/wood-pattern.jpg'); */
  /* opacity: 1; */
  /* background-position: center; */
}

#header img {
  width: 10em;
  padding: 0em;
  padding-left: 2em;
  /* padding-left: 2em; */
  float: left;
  display: block;
  position: relative;
}

#navbar,
#navbarBottom {
  float: right;
  list-style: none;
  margin-top: 3.4em;
  margin-right: 2em;
  /* vertical-align: middle; */
}

#navbar2 {
  float: right;
  list-style: none;
  margin-right: 8em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#navbar li,
#navbarBottom li,
#navbar2 li {
  display: inline-block;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

#navbar li a,
#navbarBottom li a,
#navbar2 li a {
  text-decoration: none;
  color: #f4d03f;
  text-transform: uppercase;
  font-size: 1em;
  /* font-weight: bold; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#navbar li.active a,
#navbarBottom li.active a,
#navbar2 li.active a {
  border: 0.2em solid #f4d03f;
  padding-left: 1.8em;
  padding-right: 1.8em;
  pointer-events: none;
  cursor: default;
}

#navbar li a:hover,
#navbarBottom li a:hover,
#navbar2 li a:hover {
  border-bottom: 0.2em solid #f4d03f;
}

.dropdown {
  display: none;
}

#breadcrumb {
  border-top: 1px solid #f4d03f;
  width: 98.8%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  float: left;
}

#breadcrumb #path {
  display: inline-block;
  text-align: left;
  color: #f4d03f;
}


/* -----MANAGE CONTENT ELEMENTS----- */

#error {
  color: red;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.7em;
  border: 0.3px solid red;
}

.spacer {
  width: 100%;
  height: 0.9em;
  margin: 0em;
}

#spacer-404 {
  height: 7em;
}

#contattaci-spacer {
  height: 9.6em;
}

#print-content {
  display: none;
}

.top-img {
  margin: 0em;
  background-repeat: no-repeat;
  background-color: white;
  background-position-x: center;
  background-position-y: bottom;
  position: relative;
  bottom: 0em;
  z-index: +1;
  height: 40em;
  width: 100%;
  display: inline-block;
}

#home-top-img {
  background-image: url(../images/home-img.jpg);
}

#chi-top-img {
  background-image: url(../images/chi-img.jpg);
}

#prodotti-top-img {
  background-image: url(../images/prodotti-img.jpg);
}

#servizi-top-img {
  background-image: url(../images/servizi-img.jpg);
}

.content {
  display: block;
  z-index: +1;
}

.left-section,
.right-section,
.center-section,
.grain-section,
.service-section {
  /* display: inline; */
  overflow: hidden;
  position: relative;
  padding: 2em;
  border-bottom: 1px solid #ddd;
}

#story,
#services {
  padding-bottom: 2em;
}

.left-section h1,
.right-section h1,
.center-section h1,
.grain-section h1,
.service-section h1 {
  margin: 0em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 1.2em;
  font-size: 3em;
  text-transform: uppercase;
  /* background-color: #FDEEB1; */
  /* position: relative; */
  /* line-height: 76% */
  /* float: left; */
}

.center-section h1 {
  text-align: center;
  width: 100%;
  padding-left: 0em;
  padding-right: 0em;
}

.left-section h1,
.grain-section h1,
.service-section h1 {
  width: 100%;
  float: left;
}

.grain-section h1 {
  padding-left: 0.2em;
}

.right-section h1 {
  text-align: right;
  padding-right: 1.3em;
  float: right;
}

.service-section h2 {
  margin: 0em;
  padding-left: 2.4em;
  padding-bottom: 0.5em;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.left-section p,
.right-section p,
.grain-section p,
.service-section p {
  margin: 0em;
  padding-bottom: 0.5em;
  width: 100%;
  /* float: left; */
  text-align: justify;
  font-size: 1.2em;
}

.service-section p {
  padding-left: 3.7em;
  padding-bottom: 0.5em;
}

.grain-section p {
  padding-left: 0em;
}

.center-section p,
.center-section .service-first-list {
  margin: 0em;
  text-align: justify;
  width: auto;
  padding-left: 3.5em;
  padding-right: 3.5em;
  font-size: 1.2em;
}

.center-section h3 {
  width: auto;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 3.5em;
  margin-right: 3.5em;
}

.service-first-list {
  width: 100%;
  padding-top: 2em;
}

.service-list-description {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
}

.service-list-description li {
  padding-bottom: 1em;
}

.grain-section .text-subsection,
.service-section .text-subsection {
  width: 60%;
  float: left;
}

#subtitle-contact {
  padding-left: 0em;
  text-align: center;
  padding-bottom: 2em;
}

.center-section form {
  /* margin: auto;
  width: 39%; */
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
}

.center-section form ul {
  list-style: none;
}

.center-section form li {
  margin-bottom: 0.5em;
}

.center-section form label {
  float: left;
  width: 100%;
}

.submit-form {
  margin-top: 1em;
}

.form-control-submit:hover,
.form-control-submit:focus {
  cursor: pointer;
}

#name,
#email {
  width: 20em;
}

#message-text {
  width: 30em;
  height: 10em;
}

#contact-error-print {
  display: none;
}

.left-section p,
.grain-section p {
  float: left;
  padding-left: 0.5em;
}

.right-section p {
  float: right;
  padding-right: 0.5em;
}

.center-section .img-center-container {
  text-align: center;
  padding-top: 2em;
}

.img-center-container img {
  width: 35em;
}

.left-section img,
.right-section img,
.grain-section img,
.service-section img {
  /* padding: 1em;
  padding-top: 3.2em; */
  position: relative;
  width: 37%;
  /* padding-right: 1em; */
  padding: 0.5em;
  padding-top: 0em;
}

.left-section img,
.grain-section img,
.service-section img {
  float: right;
}

.left-section img {
  padding-left: 2em;
}

.right-section img {
  padding-right: 2em;
  float: left;
}

#anchor {
  position: relative;
  top: -9.7em;
}

#go-to-menu {
  overflow-y: auto;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 2em;
  /* Place the button at the bottom of the page */
  right: 2em;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #3c2109;
  /* Set a background color */
  /* cursor: pointer; */
  /* Add a mouse pointer on hover */
  padding: 0.8em;
  /* Some padding */
  border-radius: 10px;
  /* Increase font size */
  opacity: 0.9;

}

#go-to-menu a {
  width: 10px;
  height: 10px;
}

#go-to-menu a img {
  width: 35px;
  height: auto;
}

#go-to-menu:hover {
  opacity: 0.97;
  /* Add a dark-grey background on hover */
}


/* -----MANAGE FOOTER----- */

#footer {
  width: 100%;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0.4em;
}

#xhtmlvalid {
  float: left;
}

#cssvalid {
  float: right;
}

#footer p {
  /* display: inline-block; */
  /* padding-top: 0.7em; */
  font-style: italic;
  font-size: 0.9em;
  vertical-align: middle;
}

#footer ul li {
  list-style: none;
  text-align: center;
}

#admin-link {
  text-align: center;
  /* vertical-align: top; */
  padding-right: 1em;
  color: #f4d03f;
}

.bottom-section {
  display: none;
}

.login-content h1 {
  text-align: center;
  padding-bottom: 1em;
  /* padding-left: 1em; */
}

#login-form fieldset {
  text-align: center;
  padding-top: 2em;
  /* padding-left: 3em; */
  padding-bottom: 2em;
  margin-bottom: 3em;
}

#login-form fieldset legend {
  margin-left: 4.5em;
  font-size: 1em;
  font-weight: bold;
}

#login-form fieldset ul li {
  width: 100%;
  list-style: none;
  padding-bottom: 1.5em;
}

#login-form fieldset ul li label {
  width: 100%;
}

#login-button {
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#delete-login-button {
  padding: 0.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

#img-404 {
  width: 100%;
}
