#contenuto {
    margin: auto;
    width: 96%;
    padding: 2%;
    position: relative;
    min-height: 10em;
}

#contenuto div.imageview img {
    width: 30%;
    max-height: 60%;
    margin: 2pt 4pt;
}

#contenuto ul {
    list-style: inside;
}


#loginform {
    width: 20%;
    margin: 5% auto;
}

#loginform legend {
    font-size: 2em;
    display: block;
    margin: 0.5em 0;
}

#loginform input#username, input#password {

    font-size: 1.5em;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
}



#addchapterform input#fileupload, #addnewsform input#fileupload {
    margin-bottom: 2em;
}

#addnewsform input#hiddenform {
    margin: 2.5em 0;
}

textarea#textform, textarea#plot, textarea#commentoinput {
    width:97%;
    display: block;
    font-size: 1em;
    /*width: 100%;*/
    padding: 3px;
    margin-bottom: 0.5em;

}

#addadmin input#usernameinput, input#emailinput, input#passwordinput, #editaccountinfo input#newemailinput, input#newpasswordinput,
#addchapterform input#title, input#titleeng, input#titleita, input#imagedescr, input#number, input#year,
#addnewsform input#titleform, input#imageform, input#imgdescrform {

    display: block;
    font-size: 1em;
    /*width: 100%;*/
    padding: 3px;
    margin-bottom: 0.5em;
}

#addchapterform input#number, input#year {
    border: 1px solid #ccc;
}

#addadmin label, legend, #editaccountinfo label, legend, #addchapterform label, legend, #addnewsform label, legend {
    line-height: 2em;
}

#wronglogin {
    color: red;
}

#errorecommento, #erroretitolo, #erroretitoloimmagine, #erroredescrizione, #erroretesto, #erroretitolo_inglese, #erroretitolo_italiano, #erroreimage_descr,
#errorenumero, #erroreanno {
    margin-bottom: 1.5em;
    color: red;
}

#erroreAdd, #erroreNewAdmin, #erroreMod, #erroreNewChapter {
    color: red;
    line-height: 3em;
}

#textform {
    width: 100%;
}

div.commentactionsformcontent input[type="text"]{
    font-size: 1em;
    padding: 3px;
    margin-bottom: 0.5em;
}

form#addchapterform input[type="number"] {
    width:4em;
}

#contenuto {
    float: none;
    margin-bottom: 2%;
}

.newsimage {
    clear: both;
}

.listelementwithbuttons {
    margin: 1em;
}

.listelementwithbuttons .button {
    width: 7%;
    display: block;
    margin-top: 0.7em;
}
.hidden {
	position: absolute;
	visibility: hidden;
}
@media handheld, screen and (max-width: 680px), only screen and (max-device-width: 680px) {
    #contenuto {
        width: 100%;
    }
}
